body {
	font: 18px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #395870;
}	

ul {
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: #003A8E
}

li {
	float:left
}

li a {
	display: block;
	color:white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color:#ffff66;
          color: #395870;
}

.active {
	background-color: #708090
}

.button {
	background-color: #1f3d7a; /* Green background */
    border: 2px solid white; /* Green border */
    color: white; /* White text */
    border-radius: 4px;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.button:after {
    content: "";
    clear: both;
    display: table;
}

.button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.button:hover {
    background-color: #4976d0;
}

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown:hover .dropbtn {
    background-color:#ffff4d;
    color:black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
		
table {
	border-collapse: collapse;
	width:100%;
          color:black;
          border:2px;
}

th,td {
	text-align:left; 
    vertical-align:middle;
	padding: 8px;
}

tr:nth-child(even) {
	background-color:#99ff99;
}

.err{
	color:red;
}

fieldset {
	width: 500px;
}
		
legend{
	font-size: 20px;
}
	
label.field{
	text-align: left;
	width: 200px;
	float: left;
}
		
p.error{
	color: red;
}
		
fieldset p {
	clear: both;
}
